body{
	background-color: #708090;
}
.main-container{

	background-color: #708090;
	height: 100vh;
	width: 100vw;
}

#header{
	color:white;
}
.card{
	margin: 10px;
}

.original-content, .translated-content{
	border-left: 8px solid #f9685c;
	padding:10px;
	height:250px;
	background-color: #ffe7c0;
	overflow: auto;
}

