<div class="container">

	<div class="row">
		<h2 class="center">Header</h2>
		<div class="col s6">
			<div class="card display-card center">
				<div class="output_div"></div>
			</div>
		</div>
		<div class="col s6">
			<div class="card display-card center">
				<div class="output_div2"></div>
			</div>
		</div>
		<btn class="btn light-blue-wave translate-btn">Translate</btn>
	</div>
</div>

<script type="text/javascript">

	function readText(){
		var lines=''
		$.ajax({
			url: '../sample1.txt',
			dataType: 'text',
			success: function(data){
				lines = data.split('\n');
				var s = '';
				for (var i=0;i<lines.length;i+=2){
					s=s+lines[i]+' ';
				}
				$('.output_div').html(s);
			}
		});
	}

	function readTranslated(){
		var lines=''
		$.ajax({
			url: '../sample2.txt',
			dataType: 'text',
			success: function(data){
				lines = data.split('\n');
				var s = '';
				for (var i=0;i<lines.length;i+=2){
					s=s+lines[i]+' ';
				}
				$('.output_div2').html(s);
			}
		});
	}
	$(document).ready(function(){
		
		readText();	
		readTranslated();	
		$(".translate-btn").click(function(){
			readText();
			readTranslated();
		});
	
	});
</script>

